<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--meta name="description" content=""-->
    <!--meta name="author" content=""-->
    <!--link rel="icon" href="../../favicon.ico"-->

    <title id="signin_title"></title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet"/>

    <script type="text/javascript" src="/lib/jquery-1.7.1.min.js">
    </script>
    <script type="text/javascript" src="/lib/jquery.i18n.properties-1.0.9.js">
    </script>
    <script type="text/javascript" src="/js/signin.js">
    </script>
</head>

<body>

<div class="container">

    <form class="form-signin" action="/addlogin" name="loginform">
        <h2 class="form-signin-heading" id="signin_label_signin"></h2>
        <input type="email" id="signin_input_email" name="username" class="form-control" ></input>
        <input type="password" id="signin_input_password" name="password" class="form-control" ></input>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" id="signin_checkbox_rememberme">Remember me</input>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signin_button_signin"></button>
    </form>

</div> <!-- /container -->


</body>
</html>
